<main>
  <h1>Bem-vindo à Nossa Loja</h1>
  <p>Uma história de paixão pela moda e dedicação aos clientes</p>

  <section class="historia">
    <ng-container *ngIf="historiaLojaComUrls$ | async as historiaLoja">
      <div *ngFor="let item of historiaLoja" class="historia-item">
        <img [src]="item.imageUrl" [alt]="item.titulo" (error)="item.imageUrl = 'caminho/para/imagem/padrao.png'">
        <h2>{{ item.titulo }}</h2>
        <p>{{ item.descricao }}</p>
      </div>
    </ng-container>
  </section>

  <section class="cta">
    <h2>Venha nos conhecer!</h2>
    <button [routerLink]="['/catalogo']" class="btn-catalogo">Ver Nosso Catálogo</button>
  </section>
</main>
