<div class="about-us-container">
    <h1>Sobre Nós</h1>
    <p>Bem-vindo à nossa empresa de produtos de limpeza! Somos uma empresa dedicada a fornecer produtos de alta qualidade para manter sua casa limpa e fresca.</p>
    
    <h2>Nossa História</h2>
    <p>Fundada por Valter Nascimento, nossa empresa tem se empenhado em oferecer as melhores soluções de limpeza para nossos clientes</p>
    
    <h2>Nossa Localização</h2>
    <p>Estamos localizados no bairro da Vila Progresso - Itaquera, prontos para atender às suas necessidades de limpeza.</p>
    
    <h2>Nosso Compromisso</h2>
    <p>Nos comprometemos a fornecer produtos eficazes e seguros, sempre buscando a satisfação total de nossos clientes.</p>
  </div>